.body-small {
  font-size: var(--font-size-body-small);
  color: var(--font-color);
}

.body-nav {
  font-size: var(--font-size-body-nav);
  font-weight: var(--font-semi-bold);
  color: var(--font-color);
}

.body-large {
  font-size: var(--font-size-body-large);
  font-weight: var(--font-semi-bold);
  color: var(--font-color);
}

.heading-x {
  font-size: var(--font-size-heading-x);
  color: var(--font-color);
}

.heading-xl {
  font-size: var(--font-size-heading-xl);
  color: var(--font-color);
}
