@import 'variables';

.body-small {
    font-size: $font-size-body-small;
}

.body-nav {
    font-size: $font-size-body-nav
}

.body-large {
    font-size: $font-size-body-large;
}

.heading-x {
    font-size: $font-size-heading-x;
}

.heading-xl {
    font-size: $font-size-heading-xl;
}